<% provide :title, "Help" %>
<h1>Help</h1>
<p>Except for the snarky remarks that I added personally, everything on this webpage comes form Michael Hartl's <a href="https://www.railstutorial.org/">Ruby on Rails Tutorial</a>, so if you're confused I suppose you could check that out.</p>
